*{
    padding: 0;
    margin: 0;
}
#page3{
    background: linear-gradient(15deg, rgba(156, 27, 27, 0.842) , rgba(241, 93, 7, 0.705), rgba(156, 20, 20, 0.884) );;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}
#date{
    /* background-color: rgba(165, 42, 42, 0.74); */
    margin-top: 5px !important;
}